/*
Author Name : Rakesh Mistry.
Email : rakesh.mi1986@gmail.com.
Technology : HTML5, CSS3, jQuery3.1.
project name : Portfolio Website.
Max-resolution: 1600px
Min-resolution: 320px;
*/
.navbar {
  margin-bottom: 0;
  background-color: #FFF;
  z-index: 9999;
  border: 0;
  font-size: 12px !important;
  line-height: 1.42857143 !important;
  letter-spacing: 4px;
  border-radius: 0;
  -webkit-box-shadow: 0 0 10px #737dbc;
          box-shadow: 0 0 10px #737dbc;
}

.navbar ul.navbar-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  float: none;
  margin: 10px auto;
}

.navbar li {
  width: 16.66%;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.navbar li a {
  color: #000;
  border-radius: 60px;
  font-weight: 700;
  overflow: hidden;
  line-height: 1;
  padding: 12px 32px !important;
}

.navbar-nav li.active a {
  color: #fff !important;
  background: none !important;
}

.navbar-default .navbar-toggle {
  border-color: transparent;
  color: #fff !important;
}

.nav > li > a {
  padding: 15px 10px;
  text-align: center;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.active_bg {
  position: absolute !important;
  left: 0;
  top: 0px;
  z-index: 1;
  width: 16.66%;
  height: 35px;
  border-radius: 60px;
  background-image: -webkit-gradient(linear, left top, right top, from(#4458dc), to(#854fee)), radial-gradient(circle at top left, #4458dc, #854fee);
  background-image: linear-gradient(to right, #4458dc 0%, #854fee 100%), radial-gradient(circle at top left, #4458dc, #854fee);
  -webkit-box-shadow: 0px 5px 10px rgba(118, 85, 225, 0.2);
          box-shadow: 0px 5px 10px rgba(118, 85, 225, 0.2);
}

#myNavbar {
  position: relative;
}

#myNavbar ul {
  position: relative;
}

#myNavbar li {
  z-index: 0;
}

#myNavbar li.active {
  z-index: 2;
}

#myNavbar li:nth-child(1).active ~ .active_bg {
  left: 0;
}

#myNavbar li:nth-child(2).active ~ .active_bg {
  left: 16.66%;
}

#myNavbar li:nth-child(3).active ~ .active_bg {
  left: 33.32%;
}

#myNavbar li:nth-child(4).active ~ .active_bg {
  left: 49.98%;
}

#myNavbar li:nth-child(5).active ~ .active_bg {
  left: 66.64%;
}

#myNavbar li:nth-child(6).active ~ .active_bg {
  left: 83.3%;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .navbar li a {
    padding: 12px 20px !important;
  }
}

@media screen and (max-width: 767px) {
  .active_bg {
    display: none !important;
  }
  .navbar ul.navbar-nav {
    display: block;
    margin: 0;
  }
  .navbar-nav > li {
    width: 100%;
  }
  .navbar-nav > li > a {
    color: #777;
    border-bottom: 1px solid #ddd;
    text-align: left;
    border-radius: 0;
    padding: 15px !important;
  }
  .navbar-nav li a:hover, .navbar-nav li.active a {
    color: #777 !important;
    background-image: none !important;
    background-color: #fff !important;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

.about_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about_box .white_box {
  max-width: calc(100% - 300px);
}

.about_box .white_box::before {
  content: "";
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 15px solid #fff;
  position: absolute;
  left: -15px;
  top: 20%;
}

.white_box {
  position: relative;
  -webkit-box-shadow: 0px 5px 20px 0px rgba(69, 67, 96, 0.1);
          box-shadow: 0px 5px 20px 0px rgba(69, 67, 96, 0.1);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 20px;
  width: 100%;
}

.user_icon {
  position: relative;
  width: 250px;
  height: auto;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.user_icon img {
  -webkit-filter: drop-shadow(5px 5px 0 #6c6ce5);
          filter: drop-shadow(5px 5px 0 #6c6ce5);
}

.skill-item {
  margin-bottom: 20px;
}

.skill-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.skill-info h4 {
  font-size: 16px;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 15px;
}

.skill-info span {
  font-size: 14px;
}

.progress {
  height: 7px;
  margin-bottom: 0;
  overflow: hidden;
  background-color: #f1f1f1;
  border-radius: 15px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.progress-bar {
  border-radius: 15px;
  float: left;
  width: 0;
  height: 100%;
  font-size: 12px;
  line-height: 7px;
  color: #fff;
  text-align: center;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: width .6s ease;
  transition: width .6s ease;
}

.counter_section {
  margin-top: 70px;
}

.counter_section ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.counter_section li {
  width: 23%;
  margin: 1%;
}

.details {
  position: relative;
  padding-left: 50px;
}

.details h3 {
  margin: 0;
  font-size: 30px;
  color: #454360;
  font-weight: 700;
}

.details p {
  margin-bottom: 0;
}

.details i {
  font-size: 35px;
  position: absolute;
  left: 0;
  top: 0;
  font-weight: normal;
  color: #d1beff;
}

.service_thum {
  text-align: center;
  position: relative;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  padding: 20px 30px;
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 10px;
  width: 100%;
}

.service_thum:hover {
  -webkit-box-shadow: 0px 5px 20px 0px rgba(69, 67, 96, 0.1);
          box-shadow: 0px 5px 20px 0px rgba(69, 67, 96, 0.1);
}

.features-icon {
  position: relative;
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 140px;
  height: 120px;
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: auto;
  padding-bottom: 12px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.features-icon img {
  width: 55px;
  z-index: 2;
}

.features-icon h4 {
  font-weight: bold;
}

.features-icon::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 140px;
  height: 120px;
  background-image: -webkit-gradient(linear, left top, right top, from(#2844f8), to(#aa7eff)), radial-gradient(circle at top left, #2844f8, #aa7eff);
  background-image: linear-gradient(to right, #2844f8 0%, #aa7eff 100%), radial-gradient(circle at top left, #2844f8, #aa7eff);
  border-radius: 70% 30% 30% 70% / 60% 40% 60% 40%;
}

@media screen and (max-width: 767px) {
  .user_icon {
    margin: 0 auto 30px;
    width: 60%;
    max-width: 400px;
  }
  .user_icon::after {
    -webkit-transform: translate(15px, 15px);
            transform: translate(15px, 15px);
  }
  .about_box .white_box {
    max-width: 100%;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
  }
  .about_box .white_box .btn {
    margin-bottom: 25px;
    margin-top: 10px;
  }
  .about_box .white_box::before {
    border-left: 10px solid transparent;
    border-bottom: 15px solid #fff;
    border-right: 10px solid transparent;
    top: -24px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .counter_section li {
    width: 80%;
    margin: 0 auto 20px;
    border: 1px solid #d1beff;
    padding: 15px;
    border-radius: 10px;
  }
}

.animate-gif {
  width: 100%;
}

.animate-gif img {
  z-index: 9;
}

.hom-suar1, .hom-suar2 {
  position: absolute;
  -webkit-animation: hom-suar 3s linear infinite;
  animation: hom-suar 3s linear infinite;
}

.hom-suar1 {
  right: 25%;
  bottom: 5%;
}

.hom-suar2 {
  top: 20%;
  right: 8%;
}

.hom-ract1, .hom-ract2 {
  position: absolute;
  -webkit-animation: hom-ract 40s linear infinite;
  animation: hom-ract 40s linear infinite;
}

.hom-ract1 {
  bottom: 5%;
  right: 21%;
}

.hom-ract2 {
  bottom: 37%;
  right: 10%;
}

.hom-round1, .hom-round2 {
  position: absolute;
  -webkit-animation: hom-round 3s linear infinite;
  animation: hom-round 3s linear infinite;
}

.hom-round1 {
  bottom: 10%;
  right: 5%;
}

.hom-round2 {
  top: 12%;
  right: 30%;
}

.hom-sib2 {
  position: absolute;
  bottom: 8%;
  right: 5%;
  -webkit-animation: hom-sib 30s linear infinite;
  animation: hom-sib 30s linear infinite;
}

@-webkit-keyframes hom-suar {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes hom-suar {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes hom-ract {
  0% {
    -webkit-transform: translateY(0) translatex(100px);
    transform: translateY(0) translatex(100px);
  }
  50% {
    -webkit-transform: translateY(70px) translatex(-40px);
    transform: translateY(70px) translatex(-40px);
  }
  100% {
    -webkit-transform: translateY(0) translatex(100px);
    transform: translateY(0) translatex(100px);
  }
}

@keyframes hom-ract {
  0% {
    -webkit-transform: translateY(0) translatex(100px);
    transform: translateY(0) translatex(100px);
  }
  50% {
    -webkit-transform: translateY(70px) translatex(-40px);
    transform: translateY(70px) translatex(-40px);
  }
  100% {
    -webkit-transform: translateY(0) translatex(100px);
    transform: translateY(0) translatex(100px);
  }
}

@-webkit-keyframes hom-round {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  50% {
    -webkit-transform: translate(20px) scale(2);
    transform: translate(20px) scale(2);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}

@keyframes hom-round {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  50% {
    -webkit-transform: translate(20px) scale(2);
    transform: translate(20px) scale(2);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}

@-webkit-keyframes hom-sib {
  0% {
    -webkit-transform: translate(-50px);
    transform: translate(-50px);
  }
  50% {
    -webkit-transform: translateX(100px) translateY(-300px);
    transform: translateX(100px) translateY(-300px);
  }
  100% {
    -webkit-transform: translate(-50px);
    transform: translate(-50px);
  }
}

@keyframes hom-sib {
  0% {
    -webkit-transform: translate(-50px);
    transform: translate(-50px);
  }
  50% {
    -webkit-transform: translateX(100px) translateY(-300px);
    transform: translateX(100px) translateY(-300px);
  }
  100% {
    -webkit-transform: translate(-50px);
    transform: translate(-50px);
  }
}

@media screen and (max-width: 767px) {
  .hom-ract2 {
    top: 44%;
    left: 5%;
    bottom: auto;
    right: auto;
  }
  .hom-suar2 {
    right: 0;
  }
  .hom-round1, .hom-sib2, .hom-ract1, .hom-suar1 {
    display: none;
  }
}

body {
  background-color: #f9f9ff;
  margin: 0;
  padding: 0;
  line-height: 1.7;
  font-family: "Rubik",sans-serif;
  font-size: 16px;
  overflow-x: hidden;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
}

p {
  color: #5e5c7f;
  font-family: "Rubik",Sans-serif;
  font-size: 16px;
}

.color_1 {
  background-color: #ffd15c;
}

.color_2 {
  background-color: #ff4c60;
}

.color_3 {
  background-color: #2ad554;
}

.color_4 {
  background-color: #6c6ce5;
}

.color_5 {
  background-color: #cb0ff0;
}

.btn {
  border-radius: 60px;
  font-weight: 700;
  overflow: hidden;
  line-height: 1;
  padding: 12px 32px;
  border: none;
}

.btn-default {
  color: #fff;
  background-image: -webkit-gradient(linear, left top, right top, from(#4458dc), to(#854fee)), radial-gradient(circle at top left, #4458dc, #854fee);
  background-image: linear-gradient(to right, #4458dc 0%, #854fee 100%), radial-gradient(circle at top left, #4458dc, #854fee);
  border: double 2px transparent;
  -webkit-box-shadow: 0px 10px 30px rgba(118, 85, 225, 0.3);
          box-shadow: 0px 10px 30px rgba(118, 85, 225, 0.3);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: inline-block;
  vertical-align: middle;
  position: relative;
}

.btn-default:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ffffff)), radial-gradient(circle at top left, #4458dc, #854fee);
  background-image: linear-gradient(#ffffff, #ffffff), radial-gradient(circle at top left, #4458dc, #854fee);
  border: 2px solid #854fee;
  color: #222222;
  -webkit-box-shadow: none;
          box-shadow: none;
}

section {
  min-height: 100vh;
  padding-top: 100px;
  padding-bottom: 50px;
  position: relative;
}

section::after, section::before {
  content: "";
  display: table;
  position: absolute;
  width: 7%;
  height: 250px;
  right: 0;
  top: 0;
  opacity: 0.1;
  background-image: url(../images/dots_pattern.svg);
  background-position: 0% 0%;
}

section::after {
  right: auto;
  left: 0;
  bottom: 0;
  top: auto;
}

.section-title {
  font-size: 36px;
  margin: 0;
  margin-left: 14px;
  margin-bottom: 50px;
  position: relative;
}

.section-title::before {
  content: "";
  background-image: url(../images/dots-bg.svg);
  display: block;
  height: 37px;
  left: -14px;
  top: -14px;
  position: absolute;
  width: 37px;
}

.form-control {
  display: block;
  border-radius: 30px;
  width: 100%;
  height: 60px;
  padding: 10px 30px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  color: #454360;
  background-color: #fff;
  background-image: none;
  border: 0;
  -webkit-box-shadow: 0px 5px 20px 0px rgba(69, 67, 96, 0.1);
          box-shadow: 0px 5px 20px 0px rgba(69, 67, 96, 0.1);
}

.form-group {
  margin-bottom: 30px;
}

.detail_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: calc(100vh - 150px);
}

.my_detail {
  width: 80%;
}

.shape_1 {
  position: absolute;
  left: -20px;
  top: -55px;
  width: 70%;
}

.hero-img-block {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 70%;
  top: 52%;
  -webkit-transform: translate(-50px, -50%);
          transform: translate(-50px, -50%);
}

.hero-img {
  position: relative;
  z-index: 1;
  max-height: 640px;
  border: 5px solid #fff;
  -webkit-box-shadow: 15px 15px 15px #3641c6;
          box-shadow: 15px 15px 15px #3641c6;
}

.hero-img-backdrop {
  position: absolute;
  left: -80px;
  top: 80px;
  right: 80px;
  bottom: -80px;
  z-index: 0;
  display: block;
  background-image: url(../images/dots_pattern.svg);
  background-position: 0% 0%;
  background-size: 20px;
  opacity: 0.3;
}

.blue-shape-hero {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: block;
  width: 33.3334%;
  background-image: -webkit-gradient(linear, left top, right top, from(#aa7eff), to(#2844f8));
  background-image: linear-gradient(to right, #aa7eff 0%, #2844f8 100%);
  -webkit-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
}

/* Experience Part Start */
#experience .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#experience .white_box {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#experience img {
  max-width: 400px;
}

.timeline {
  position: relative;
}

.timeline li {
  padding-left: 50px;
  margin-bottom: 20px;
  position: relative;
  background-color: inherit;
  width: 100%;
}

.timeline li .time {
  color: #8b88b1;
  font-size: 14px;
}

.timeline li h3 {
  font-size: 18px;
  margin: 5px 0;
}

.timeline li h3 span {
  color: #5e5c7f;
  font-family: "Rubik",Sans-serif;
  font-size: 16px;
  font-weight: normal;
  margin-left: 10px;
}

.timeline li p {
  margin: 0;
}

.timeline li i {
  position: absolute;
  font-size: 25px;
  color: #854fee;
  background: #fff;
  left: -8px;
  top: 0;
  padding: 6px 0 2px;
  z-index: 2;
}

.timeline::after {
  content: "";
  position: absolute;
  top: 30px;
  bottom: 30px;
  left: 4px;
  width: 1px;
  height: calc(100% - 30px);
  background-color: #4458dc;
}

/* Experience Part End */
/* Portfolio Part */
.portfolio-filter {
  margin-bottom: 25px;
}

.portfolio-filter li {
  color: #5e5c7f;
  cursor: pointer;
  font-family: "Rubik",sans-serif;
  font-size: 16px;
  font-weight: 700;
  position: relative;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.portfolio-filter li:hover, .portfolio-filter li.active {
  color: #854fee;
}

.filter .white_box {
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
}

/* Footer Part Start */
#contact {
  padding-bottom: 0;
}

#contact i {
  font-size: 20px;
  width: 30px;
  text-align: center;
}

.footer {
  background: #f9f9ff;
  padding: 40px 0;
  text-align: center;
  border-top: solid 1px #ececf2;
}

/* Footer Part End */
@media screen and (max-width: 767px) {
  h1 {
    margin-top: 0;
  }
  .shape_1 {
    top: 18px;
  }
  section {
    padding-top: 70px;
  }
  section#home {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section-title {
    margin-bottom: 30px;
  }
  .blue-shape-hero {
    position: relative;
    -webkit-transform: none;
            transform: none;
    margin: 50px auto;
    width: 50%;
    max-width: 180px;
    height: auto;
  }
  .hero-img-block {
    position: relative;
    -webkit-transform: none;
            transform: none;
    width: 100%;
    top: 0;
  }
  .hero-img {
    -webkit-box-shadow: 5px 5px 10px #c4c8ff;
            box-shadow: 5px 5px 10px #c4c8ff;
  }
  .hero-img-backdrop {
    left: -30px;
    bottom: -50px;
  }
  .my_detail {
    width: 100%;
    text-align: center;
  }
  .detail_box {
    height: auto;
  }
  .portfolio-filter li {
    font-size: 15px;
  }
  #experience .row {
    display: block;
  }
  #experience .white_box {
    display: block;
    margin-bottom: 20px;
  }
  #experience img {
    max-width: 100%;
  }
  .timeline li {
    padding-left: 35px;
  }
  #contact button {
    display: block;
    margin: 0 auto;
  }
}
/*# sourceMappingURL=main.css.map */